require(["esri/Map", "esri/views/MapView", "dojo/domReady!"], function(Map, MapView) {
  // Create a Map instance
  var myMap = new Map({
    basemap: 'streets'
  });
  // Create a MapView instance (for 2D viewing) and reference the map instance
  var view = new MapView({
    map: myMap
  });
});
